@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .container {
      max-width: 1420px;
      margin-left: auto;
      margin-right: auto;
      padding-left: 40px;
    padding-right: 40px;
    }
    
    @media (min-width: 1024px) {
      .container {
          padding-left: 200px;
          padding-right: 200px;
      }
  }

  }
.error_on_render{
  animation: slideAndFade .3s ease-in-out ;
}
@keyframes slideAndFade {
  0% {
    opacity: 0;
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
  
}
.pokecard {
background: rgb(239 239 237);
/* animation: onrender 1s ease 0s 1 normal forwards; */
transition: all ease-in-out .2s ;
opacity: 1;
}

.pokecard:hover {
  transform: translateY(-5%) rotate(2deg);
}

h5{
  font-size: 10px;
}
h4{
  font-size: 12px;
}
h3{
  font-size: 14px;
}
h2{
  font-size: 16px;
}
h1{
  font-size: 18px;
}

body {
  background-color: #faf6f6;
}
